/* Light Theme */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light background */
    color: #333; /* Dark text */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}


/* Sections */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Home Page - Typing Effect */
#home {
    background: #e0e0e0; /* Slightly darker section */
    display: flex;
    flex-direction: column;
}

#typing-text {
    font-family: 'VT323', monospace;
    font-size: 48px;
    color: #222; /* Dark gray */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #222;
    width: fit-content;
    display: inline-block;
}
